{
    "useTabs":	true,
    "printWidth":	80,	
    "tabWidth":	4,	//	длина	"таба"	-	4	пробела
    "singleQuote":	true,	//	использовать	одинарные	кавычки	-	да!
    "trailingComma":	"es5",	//	запятая	в	последней	строке	-	да
    "jsxBracketSameLine":	false,	//	закрывающийся	jsx	в	этой	же	строке
    "parser":	"flow",	//	парсер	-	flow
    "semi":	false	//	точка	с	запятой	-	нет
}