@media only screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
    header {
        flex-direction: column;
        height: 95px;
    }
    header h1 {
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }
    header nav {
        width: 100%;
    }
    .banners .page_phrase {
        width: 100%;
    }

    .banners .banner {
        display: none;
    }

    .articles-wrap .article-content p {
        font-size: 1.1rem;
    }
}



@media only screen and (max-width: 992px) {
    .articles-wrap {
        margin-bottom: 30px;
    }
    aside {
        width: 100%;
        margin: 0;
    }
    main {
        flex-direction: column-reverse;
    }
}



@media only screen and (max-width: 768px) {
    .menu_item {
        margin: 0;
    }

    .articles-wrap {
        flex-direction: column;
    }

    .article-item {
        width: 100%;
        margin-bottom: 30px;
    }

}



@media only screen and (max-width: 600px) {
    header {
        height: auto;
    }
    #header_nav ul {
        display: block;
    }
    .menu_item {
        display: block;
        margin-bottom: 5px;
    }
    .menu_item div {
        display: block;
        width: 100%;
        padding: 5px 0;
        border: 1px solid #ccc;
        text-transform: uppercase;
    }
    .menu_item.active div,
    .menu_item div:hover {
        font-size: 1.2rem;
    }

}